body {
    background-color: #121212;
    color: #e0e0e0;
}

h1, h2 {
    color: #DFFF00;
}

th {
    color: #DFFF00 !important;
}

td {
    background: #1c1c1c !important;
}

a {
    color: #DFFF00;
    text-decoration: none;
}

a:hover {
    color: #ccee00;
    text-decoration: underline;
}

input[type="text"] {
    background-color: #262626 !important;
    color: #e0e0e0 !important;
}

input[type="submit"] {
    background-color: #DFFF00; 
    color: #333 !important;
}

input[type="submit"]:hover {
    background-color: #ccee00;
}


/* alert styling */
@keyframes fadeOut {
    from {opacity: 1; }
    to {opacity: 0; }
}

.alert {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 0.25rem;
    padding: 0.75rem 1.25rem;
    width: auto;
    min-width: 300px;
    z-index: 9;
    animation: fadeOut 2.5s ease-out forwards;
}

.alert-success {
    color: #3e5502;
    background-color: #ccee00;
    border-color: #b0b200;
}

.alert-danger {
    color: #fff;
    background-color: #ff3d00;
    border-color:  #e63600;
}
