body {
    background-color: #121212;
    color: #e0e0e0;
}

h1, h2 {
    color: #DFFF00;
}

th {
    color: #DFFF00 !important;
}

td {
    background: #1c1c1c !important;
}

a {
    color: #DFFF00;
    text-decoration: none;
}

a:hover {
    color: #ccee00;
    text-decoration: underline;
}

input[type="text"] {
    background-color: #262626 !important;
    color: #e0e0e0 !important;
}

input[type="submit"] {
    background-color: #DFFF00; 
    color: #333 !important;
}

input[type="submit"]:hover {
    background-color: #ccee00;
}
