{% extends 'base.html' %}

{% block head %}
<title>About - Task Manager</title>
{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1 class="text-center mb-4">About this App</h1>
    <div class="card-body text-light mb-3">
        <h5 class="card-title">Todo App with Flask</h5>
        <p class="card-text ">
            This is a basic todo application built with Flask, Bootstrap, and some JavaScript. 
            It allows users to add, update, complete and delete tasks.    
        </p>
    </div>
    <div class="card-body text-light">
        <h5 class="card-title">About the Author</h5>
        <p class="card-text">
            I am Alfredo Munoz from Mexico, a backend developer specialize in Python, SQL and data analysis, 
            with a passion for creating user-friendly data-driven applications.
        </p>
    </div>
</div>
{% endblock %}