{% extends 'base.html' %}

{% block head %}
<title>Task Manager - About</title>
{% endblock %}

{% block body %}
<div class="container mt-4">
    <h1 class="text-center mb-4">About this App</h1>
    <div class="row">
        <div class="col-12 col-lg-6 mb-4">
            <div class="item card md-card text-white h-100">
                <div class="row g-0 h-100">
                    <div class="col-12 col-md-4 d-flex align-items-stretch">
                        <img src="{{ url_for('static', filename='img/flask.webp') }}" 
                             class="img-fluid w-100"
                             alt="Flask Logo">
                    </div>
                    <div class="col-12 col-md-8 d-flex align-items-center">
                        <div class="card-body text-center p-3 p-md-4">
                            <h5 class="card-title fs-5 fs-md-4">Todo App with Flask</h5>
                            <p class="card-text fs-6 fs-md-5">This is a basic todo application built with Flask, Bootstrap, and some JavaScript. It allows users to add, update, complete, and delete tasks.</p>
                            <a class="btn custom-btn mt-3 fw-bold btn-sm btn-md" href='https://github.com/Alfredomg7/TaskMaster-Flask' target="_blank" rel="noopener noreferrer">Source Code</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-6 mb-4">
            <div class="item card md-card text-white h-100">
                <div class="row g-0 h-100">
                    <div class="col-12 col-md-4 d-flex align-items-stretch">
                        <img src="{{ url_for('static', filename='img/profile.webp') }}" 
                             class="img-fluid w-100"
                             alt="Alfredo Profile Photo">
                    </div>
                    <div class="col-12 col-md-8 d-flex align-items-center">
                        <div class="card-body text-center p-3 p-md-4">
                            <h5 class="card-title fs-5 fs-md-4">About the Author</h5>
                            <p class="card-text fs-6 fs-md-5">Alfredo Munoz is a data analyst and backend developer based in Mexico. He specializes in Python, SQL, JavaScript, Flask, and Bootstrap.</p>
                            <a class="btn custom-btn mt-3 fw-bold btn-sm btn-md" href="https://github.com/Alfredomg7" target="_blank" rel="noopener noreferrer">GitHub Projects</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}