{% extends 'base.html' %}

{% block head %}
<title>Home</title>
{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1 class="text-center mb-3">Welcome to Task Manager</h1>
    <div class="row justify-content-center">
        <div class="col-12 col-md-3">
        <a class="btn w-100 mt-3" href="{{ url_for('add') }}">Add New Task</a>
        </div>
        <div class="col-12 col-md-3">
        <a class="btn w-100 mt-3" href="{{ url_for('tasks')}}">See All Tasks</a>
        </div>
        <div class="col-12 col-md-3">
        <a class="btn w-100 mt-3" href="{{ url_for('pending') }}">See Pending Task</a>
        </div>
    </div>
</div>
{% endblock %}