{% extends "base.html" %}

{% block head %}
<title>Task Manager - Reset Password</title>
{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1 class="text-center mb-4">Reset Your Password</h1>
    <form action="{{ url_for('reset_password', token=token) }}" method="POST" class="text-center">
        {{ form.hidden_tag() }}
        <div class="form-group row mb-3">
            <label for="password" class="col-sm-3 col-form-label">New Password</label>
            <div class="col-sm-7">
                {{ form.password(class_="form-control", id="password", placeholder="Enter new password") }}
            </div>
        </div>
        <div class="form-group row mb-3">
            <label for="confirm_password" class="col-sm-3 col-form-label">Confirm Password</label>
            <div class="col-sm-7">
                {{ form.confirm_password(class_="form-control", id="confirm_password", placeholder="Confirm new password") }}
            </div>
        </div>
        <div class="form-group">
            {{ form.submit(class_="btn custom-btn fw-bold mt-3") }}
        </div>
    </form>
</div>
{% endblock %}
