{% extends 'base.html' %}

{% block head %}
<title>{{ title }}</title>
{% endblock %}

{% block body %}
<div class="container mt-5">
    {% if tasks|length < 1 %}
    <h2 class="text-center mb-3">There are no tasks</h2>
    {% else %}
    <div class="row mb-2">
        <div class="col-6 col-md-3">
            <label for="task-filter-dropdown" class="fw-bold">Filter by Due Date</label>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-6 col-md-3">
            <select id="task-filter-dropdown" class="form-select">
                <option value="all">All</option>
                <option value="today">Today</option>
                <option value="this-week">This Week</option>
                <option value="this-month">This Month</option>
                <option value="upcoming">Upcoming</option>
                <option value="expired">Expired</option>
            </select>
        </div>
    </div>
    <div class="table-responsive">
        <table id="tasks-table" class="table table-dark">
            <thead>
                <tr>
                    <th>Task</th>
                    <th>Added</th>
                    <th>Due Date</th>
                    <th>Complete</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for task in tasks %}
                <tr>
                    <td class="{{ 'task-completed' if task.completed else '' }}"> {{ task.content }}</td>
                    <td class="{{ 'task-completed' if task.completed else '' }}"> {{ task.date_created.date() }}</td>
                    <td class="{{ 'task-completed' if task.completed else '' }}"> {{ task.due_date }}</td>
                    <td class="{{ 'task-completed' if task.completed else '' }}">
                        <form action="{{ url_for('complete', id=task.id, redirect_view=request.path) }}" method="POST">
                            {{ form.hidden_tag() }}
                            {{ form.completed(onchange="this.form.submit()", checked=task.completed)}}
                        </form>
                    </td>
                    <td class="{{ 'task-completed' if task.completed else '' }}">
                        <a class="link" href="/delete/{{task.id}}">Delete</a>
                        <br>
                        <a class="link" href="/update/{{task.id}}">Update</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {% endif %}
</div>
{% endblock %}